/autom4te.cache/
/Makefile
/*.am.user
/Makefile.in
/TDH_Socket.creator.user
/*.m4
/ar-lib
/build.sh
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/TDH_Socket.config
/TDH_Socket.creator
/TDH_Socket.files
/TDH_Socket.includes
*.pyc
*.iml
